<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2 class="text-center">About the Artist Portal</h2>

    <div class="well">
      <p>The Artist Portal at it's simplest is a place for musicians to connect directly to A&amp;R's in the industry based on their genre.</p>

      <hr>

      <p>We work with the A&R's directly and validate each one to ensure that you are getting quality people listening to your music.</p>

      <hr>

      <p>Anyone can create an account and listen to the music uploaded by the artists for free. Artists and A&amp;R's will sign up for the Pro Account.</p>

      <hr>

      <p>Only Pro accounts get access to the A&amp;R connection. You will be given a Pro Account badge which comes with a different dashboard than a free account as it comes with upload features as an artist and communication with A&amp;R's.</p>

      <hr>

      <p>Only A&amp;R's can start the conversation. This is so they don't get bogged down by all of the artists that would inevitably reach out to them.</p>
    </div>
  </div>
</div>
