<!DOCTYPE html>
<html>
  <head></head>

  <body>
    <h2>You have received a message from the Artist Portal Contact Page</h2>

    <h3>Your message is from <%= "#{ @name }, #{ @email }." %></h3>

    <p><%= @body %></p>
  </body>
</html>