/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 @import "font-awesome";

 // /// Custom CSS \\\ \\
// -------------------- \\
 .top-space {
  margin-top: 60px;
}

.alert-notice {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.well.profile-block {
  color: #ffffff;
  h3 {
    margin-top: 0;
  }
}

.well.profile-description {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.well.contact-info {
  background-color: #5bc0de;
  border-color: #46b8da;
}

.well.white-bg {
  background-color: white;
}

.avatar img {
  width: 150px;
}
